@{
    ViewData["Title"] = "Manufacturers";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="d-flex justify-content-between p-1">
    <h1>Manufacturers</h1>
    <a class="btn btn-primary d-flex align-items-center justify-content-center" asp-area="" asp-controller="Admin" asp-action="ManufacturerCreate">Add Manufacturer</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Logo</th>
            <th class="text-center">EDIT</th>
            <th class="text-center">DELETE</th>
        </tr>
    </thead>

    <tbody>
    @foreach (var item in @ViewBag.Manufacturers)
    {
        <tr>
            <td>@item.logo</td>
            <td class="text-center">
                <a class="btn btn-primary d-flex align-items-center justify-content-center" asp-area="" asp-controller="Admin" asp-action="ManufacturerEdit" asp-route-id="@item.Id">EDIT</a>
            </td>
            <td class="text-center">
                <a class="btn btn-primary d-flex align-items-center justify-content-center" asp-area="" asp-controller="Admin" asp-action="ManufacturerDelete" asp-route-id="@item.Id">DELETE</a>
            </td>
        </tr>
    }
    </tbody>
</table>