
@{
    ViewData["Title"] = "Manufacturer Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using BOTY.Models.Tables
@model Manufacturer

<h1>Edit Manufacturer</h1>

<form asp-action="ManufacturerEdit">
    <div class="p-2">
        <div><label asp-for="logo">Logo:</label></div>
        <div><input required asp-for="logo" class="form-control"></div>
    </div>
    <button type="submit" class="btn btn-success">SAVE</button>
</form>