@{
    ViewData["Title"] = "Materials";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="d-flex justify-content-between p-1">
    <h1>Materials</h1>
    <a class="btn btn-primary d-flex align-items-center justify-content-center" asp-area="" asp-controller="Admin" asp-action="MaterialCreate">Add Material</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th class="text-center">EDIT</th>
            <th class="text-center">DELETE</th>
        </tr>
    </thead>

    <tbody>
    @foreach (var item in @ViewBag.Materials)
    {
        <tr>
            <td>@item.Name</td>
            <td class="text-center">
                <a class="btn btn-primary d-flex align-items-center justify-content-center" asp-area="" asp-controller="Admin" asp-action="MaterialEdit" asp-route-id="@item.Id">EDIT</a>
            </td>
            <td class="text-center">
                <a class="btn btn-primary d-flex align-items-center justify-content-center" asp-area="" asp-controller="Admin" asp-action="MaterialDelete" asp-route-id="@item.Id">DELETE</a>
            </td>
        </tr>
    }
    </tbody>
</table>