
@{
    ViewData["Title"] = "Variant Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="p-1">Variant Edit</h1>

<h2 class="p-2">Color</h2>
<input data="@ViewBag.color"/>
<h2 class="p-2">Size</h2>
<input />
<h2 class="p-2">Size</h2>
<input />
<h2 class="p-2">Price</h2>
<input />
<h2 class="p-2">Sale</h2>
<input />
<h2 class="p-2">VAT</h2>
<input />
<h2 class="p-2">Stock</h2>
<input />

<button class="btn btn-dark">SAVE</button>