@{
    ViewData["Title"] = "Order Finished";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="height: 50vh; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 1rem; color: var(--tmave_modra)">
    <h1>Objednávka byla přijata!</h1>
    <p>Očekávaný den doručení je: @ViewBag.DateExpected</p>
</div>